.btn{
    white-space: nowrap;
    font-size: 1.4vw;
    font-weight: 500;
    line-height: 28px;
    color: white;
    background-color: black ;
    display: flex;
    justify-content: center;
 align-items: center;
    border-radius: 4px;
     height: 55px;
     padding:0 30px;
     cursor: pointer;
     transition: all ease-in-out 0.3s;
     border: 1px solid black;
    
    }
    .btn:hover{
        background-color: white;
        color: black;
        border:1px solid #FF5555;
    }

.btn-img{
    display: flex;
    margin-right: 0.5pc;
}
  