@font-face {
    font-family: 'Clashh Display';
    src: url('../../../public/OTF/ClashDisplay-Regular.otf') format('truetype'); /* Adjust the path as needed */
    font-weight: normal;
    font-style: normal;
  }
  
.footer-container{
    width:100% ;
 margin-top: 8pc;
}
.footer-data{
    width: 83%;
    margin: auto;
}
.footer-upper{
    display: flex;
}
.sub-footer-cont{
    min-width: 17%;
}



/* this is for first main container in which logo included */


@font-face {
    font-family: 'ClasHDisplay';
    src: url('../../../public/OTF/ClashDisplay-Semibold.otf') format('truetype'); /* Adjust the path as needed */
    font-weight: normal;
    font-style: normal;
  }
.para-container11{
    margin: 1pc auto;
}
.logo-sec11{
    display: flex;
align-items: center;
font-family: "ClasHDisplay";

}
.logo-img1122{
    display: flex;
    margin-right: 0.5pc;
    min-height: 24px;
    min-width: 24px;
}
.logo-img1122 img{
width: 100%;
}









.lower-data .para-container .logo-txt{
    font-family: "Clashh Display";
    font-weight: 600;
}

.cont22{
    margin-right: 2pc;
}
.labels-sec{
    display: flex;
    position: relative;
    top: -9%;

}
#name{
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "Clashh Display";
    padding: 10px;
}
.sub-footer-cont .main-btn{
    position: absolute;
    right: -60%;
}
.footer-container hr{
width: 80%;
margin:2pc auto;
}
.footer-bottom{
    text-align: center;
  margin-bottom: 5pc;
  font-family: "Clashh Display";
  font-weight: 600;
}



@media screen and (max-width: 1184px){

    .email-cont{

        display: none;
    }
    .sub-footer-cont{
        width: 100%;
    margin-bottom: 2pc;
    }
 
}

@media screen and (max-width: 786px){


    .footer-upper{
        flex-direction: column;
    }
}